body {
  width: 1280px;
  background: #eee;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  color: #323232;
  font-family: "nintendo_NTLG-DB_002",sans-serif;
  line-height: 1.2
}

#ft_navi {
  position: fixed;
  top: 0;
  left: 0;
  width: 160px;
  height: 720px;
  margin: 0 15px 0 0;
  background: -webkit-gradient(linear, left top, right top, from(#fff), to(#e9e9e9));
  border-radius: 0 60px 60px 0;
  box-shadow: 0 3px 10px 0 rgba(0,0,0,0.6);
  text-shadow: 0 2px 2px #fff;
  z-index: 9000;
  line-height: 1.2
}

#ft_navi li {
  width: 160px;
  min-height: 124px;
  margin: 0 14px 0 0;
  float: left
}

#ft_navi li div {
  display: block;
  width: 160px;
  text-align: center
}

#ft_navi li span {
  display: block;
  font-size: 24px
}

#ft_navi .on div {
  background: -webkit-gradient(linear, left top, left bottom, from(#d2d2d2), color-stop(13%, #e1e1e1), color-stop(100%, #f0f0f0))
}

#ft_navi .on span {
  color: #cc00ff
}

#ft_navi .on span:after {
  background: none !important
}

#ft_navi .off div {
  background: #f0f0f0
}

#ft_navi .off span {
  color: #c8c8c8;
  text-shadow: none
}

#ft_navi .off span:after {
  background: none !important
}

#ft_navi .top div {
  height: 124px;
  border-bottom: 2px #dcdcdc solid
}

#ft_navi .top span {
  position: relative;
  display: table-cell;
  vertical-align: bottom;
  width: 160px;
  height: 74px
}

#ft_navi .top span:after {
  content: '';
  position: absolute;
  top: 74px;
  right: 16px;
  background: url('../../image/menu-s86d7c3ff7b.png') 0 -430px no-repeat;
  width: 42px;
  height: 44px
}

#ft_navi .top.on div {
  border-radius: 0 60px 0 0
}

#ft_navi .menu div {
  height: 146px;
  border-top: 2px #fff solid;
  border-bottom: 2px #dcdcdc solid
}

#ft_navi .menu img {
  margin-top: 18px;
  background: #fff;
  box-shadow: 0 0 2px rgba(0,0,0,0.35);
  border-radius: 10px
}

#ft_navi .menu span {
  position: relative;
  padding-top: 8px
}

#ft_navi .menu span.attention-mark:before {
  content: '';
  position: absolute;
  background: url(../../image/btn_attention_blue_on.png) no-repeat;
  width: 45px;
  height: 45px;
  bottom: 84px;
  right: 22px
}

#ft_navi .menu span:after {
  content: '';
  position: absolute;
  top: -40px;
  right: 16px;
  background: url('../../image/menu-s86d7c3ff7b.png') 0 -474px no-repeat;
  width: 42px;
  height: 44px
}

#ft_navi .balance div {
  display: table-cell;
  vertical-align: middle;
  height: 144px;
  border-top: 2px #fff solid;
  border-bottom: 2px #dcdcdc solid
}

#ft_navi .balance span:first-child {
  position: relative;
  padding-top: 62px
}

#ft_navi .balance span:first-child:before {
  content: '';
  position: absolute;
  top: 0;
  right: 46px;
  background: url('../../image/menu-s86d7c3ff7b.png') 0 -718px no-repeat;
  width: 64px;
  height: 54px
}

#ft_navi .balance span:first-child:after {
  content: '';
  position: absolute;
  top: 18px;
  right: 16px;
  background: url('../../image/menu-s86d7c3ff7b.png') 0 -880px no-repeat;
  width: 42px;
  height: 44px
}

#ft_navi .balance span:last-child {
  display: inline;
  line-height: 1
}

#ft_navi .balance.on span:first-child:before {
  background: url('../../image/menu-s86d7c3ff7b.png') 0 -826px no-repeat
}

#ft_navi .balance.off span:first-child:before {
  background: url('../../image/menu-s86d7c3ff7b.png') 0 -772px no-repeat
}

#ft_navi .search div {
  height: 144px;
  border-top: 2px #fff solid;
  border-bottom: 2px #dcdcdc solid
}

#ft_navi .search span {
  position: relative;
  padding-top: 94px
}

#ft_navi .search span:before {
  content: '';
  position: absolute;
  top: 20px;
  right: 56px;
  background: url('../../image/menu-s86d7c3ff7b.png') 0 -924px no-repeat;
  width: 52px;
  height: 52px
}

#ft_navi .search span:after {
  content: '';
  position: absolute;
  top: 46px;
  right: 16px;
  background: url('../../image/menu-s86d7c3ff7b.png') 0 -674px no-repeat;
  width: 42px;
  height: 44px
}

#ft_navi .search.on span:before {
  background: url('../../image/menu-s86d7c3ff7b.png') 0 -1028px no-repeat
}

#ft_navi .search.off span:before {
  background: url('../../image/menu-s86d7c3ff7b.png') 0 -976px no-repeat
}

#ft_navi .back div {
  height: 146px;
  border-top: 2px #fff solid;
  border-radius: 0 0 60px 0
}

#ft_navi .back span {
  position: relative;
  padding-top: 94px
}

#ft_navi .back span:before {
  content: '';
  position: absolute;
  top: 16px;
  right: 58px;
  background: url('../../image/menu-s86d7c3ff7b.png') 0 -518px no-repeat;
  width: 50px;
  height: 56px
}

#ft_navi .back span:after {
  content: '';
  position: absolute;
  top: 46px;
  right: 16px;
  background: url('../../image/menu-s86d7c3ff7b.png') 0 -386px no-repeat;
  width: 42px;
  height: 44px
}

#ft_navi .back.on span:before {
  background: url('../../image/menu-s86d7c3ff7b.png') 0 -574px no-repeat
}

#ft_navi .exit div {
  height: 148px;
  background: -webkit-gradient(linear, left top, right top, from(#555), to(#323232));
  border-radius: 0 0 60px 0
}

#ft_navi .exit span {
  position: relative;
  padding-top: 94px;
  color: #fff;
  text-shadow: 0 -2px 2px #323232
}

#ft_navi .exit span:before {
  content: '';
  position: absolute;
  top: 24px;
  right: 60px;
  background: url('../../image/menu-s86d7c3ff7b.png') 0 -630px no-repeat;
  width: 42px;
  height: 44px
}

#ft_navi_popup .close {
  width: 170px;
  height: 192px;
  line-height: 270px;
  background: url('../../image/menu-s86d7c3ff7b.png') 0 0 no-repeat;
  text-align: center;
  font-size: 24px;
  text-shadow: 0 -2px 2px #323232;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 9000
}

#ft_navi_popup .close div {
  display: block;
  width: 160px;
  height: 180px;
  margin: 12px 12px 0 0;
  color: #fff
}

#ft_navi_popup .close.on {
  background: url('../../image/menu-s86d7c3ff7b.png') 0 -193px no-repeat
